@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Montserrat", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-primary: #6B7A65;
  --color-secondary: #E8EAE3;
  --color-primary-dark: #525E4D;
  --color-secondary-light: #F7F8F5;
}

body {
  @apply text-primary bg-white font-sans;
}
