@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Montserrat", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-primary: #7A4F2E;
  --color-secondary: #FBDEC5;
  --color-primary-dark: #5c3a21;
  --color-secondary-light: #fcebe0;
}

body {
  @apply text-primary bg-white font-sans;
}
