@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --color-primary: #7A4F2E;
  --color-secondary: #FBDEC5;
  --color-primary-dark: #5c3a21;
  --color-secondary-light: #fcebe0;
}

body {
  @apply text-primary bg-white font-sans;
}
